cleverrx_bot/saved_models
cleverrx_bot/data
cleverrx_data/data
env/
cleverrx_bot/scripts/__pycache__/
cleverrx_bot/scripts/facebookCommenting-master/myUserDataDir/ 
cleverrx_bot/scripts/facebookCommenting-master/node_modules/*
